# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
unit-test-with-python.py
unit-test-with-python-unittest.py
# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/
spring-petclinic-customers-service/.factorypath
spring-petclinic-vets-service/.factorypath
spring-petclinic-visits-service/.factorypath
.factorypath